@import "tailwindcss";

:root {
  --background: #fffbeb;
  --foreground: #78350f;
  --primary: #f8c409;
  --primary-dark: #ca8a04;
  --secondary: #fb923c;
  --accent: #fbbf24;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
